<div class="footer">
    <div class="copyright">
        © Site by <a href="https://www.flojucvcreator.fr">flojucvCreator</a>
    </div>
    <div class="socialMedia">
        <a href="https://store.steampowered.com/app/2705760/Plaquist_Simulator/"><img src="/assets/icon-reseau/steam-icon.svg" /></a>
        <a href="https://www.youtube.com/@stoappy.studio3522"><img src="/assets/icon-reseau/discord-icon.svg" /></a>
        <a href="https://www.tiktok.com/@stoappy"><img src="/assets/icon-reseau/youtube-icon.svg" /></a>
        <a href="https://discord.gg/mwF4RyBgUb"><img src="/assets/icon-reseau/tiktok-icon.svg" /></a>
    </div>
</div>