<nav class="navbar">
    <div class="logo">
        <a href="/"><img src="/assets/icon-site/logo_plaquist.png" alt="Logo du jeux plaquist simulator" /></a>
    </div>
    <div class="menuHamburger" (click)="this.affichageMenu()">
        <img src="/assets/icon-site/menuHamburger.png" alt="menu" />
    </div>
    <div class="link" id="menu">
        <ul>
            <li (click)="this.redirection('')">Acceuil</li>
            <li (click)="this.redirection('actualites')">Actualités</li>
            <li (click)="this.redirection('patch-notes')">Patch Notes</li>
        </ul>
    </div>
</nav>