<div class="trailer">
    <video autoplay muted loop id="trailerVideo">
        <source src="/assets/img/trailer.mp4" type="video/mp4">
    </video>
</div>


<div class="description">
    <h2>Qu'es que Plaquist Simulator ?</h2>
    <p>Bienvenue dans l'univers captivant de Plaquist Simulator, incarnez un apprenti plaquiste en quête de gloire et
        d'indépendance. Érigez des cloisons, isolez des plafonds, gérez vos stocks et créez votre propre entreprise pour
        devenir le maître incontesté de la construction. Prenez des commandes, formez votre équipe, et apprenez de
        nouveaux métiers pour diversifier vos services. Chaque chantier est une opportunité de prouver votre expertise.
        Alors, mettez votre ceinture à outils, attrapez votre visseuse, et bâtissez votre empire dans le monde exigeant
        de "Plaquist Simulator" !</p>
</div>


<h2 class="detail-title">Autres informations</h2>
<div class="detail">
    <div class="detail-box">
        <h4>Développer par</h4>
        <img src="/assets/img/logo_stoappy.png" alt="Logo de Stoappy" class="icon" />
        <p>Stoappy</p>
    </div>
    <div class="detail-box">
        <h4>Genre</h4>
        <img src="/assets/img/simulation.png" alt="Icone de simulation" class="icon" />
        <p>Simulation</p>
    </div>
</div>

<h2 class="more-title">En découvrir plus ?</h2>
<div class="more">
    <div class="more-box">
        <img src="/assets/more/ApprenezLeMetier.png" alt="Apprenez le Métier" class="more-box-title" />
        <p>Incarnez un apprenti plaquiste et apprenez à maîtrisez les compétences nécessaires pour réaliser des cloisons
            impeccables, isoler des plafonds, et bien plus encore. Chaque chantier est une opportunité d'apprendre et de
            perfectionner vos techniques.</p>
        <img src="/assets/more/GIFs_Screwing.gif" alt="Gif visseuse qui vise" />
    </div>
    <div class="more-box">
        <img src="/assets/more/MenezABienDifferentsChantiers.png" alt="Menez a bien differents chantiers"
            class="more-box-title" />
        <p>Affrontez des défis variés, des chantiers simples aux projets plus complexes. Maîtrisez l'utilisation des
            outils et des matériaux pour garantir un travail impeccable et satisfaire vos clients.</p>
        <img src="/assets/more/GIF_Measuring.gif" alt="Gif mesure" />
    </div>
    <div class="more-box">
        <img src="/assets/more/GererVotreEntreprise.png" alt="Gérer votre entreprise" class="more-box-title" />
        <p>Décidez quand lancez votre propre entreprise. Embauchez des salariés, prenez des commandes, et faites
            prospérer votre affaire. La réputation est ce qu’il y a de plus important dans ce secteur !</p>
        <img src="/assets/more/GIF_Cutting.gif" alt="Gif d'un cutter qui découpe une plaque" />
    </div>
    <div class="more-box">
        <img src="/assets/more/DiversifiezVosServices.png" alt="Diversifiez vos services" class="more-box-title" />
        <p>Suivez des formations et explorez de nouveaux métiers. Devenez un expert polyvalent capable de répondre à
            toutes les demandes de ses clients.</p>
        <img src="/assets/more/Gif_Partition.gif" alt="Gif de partitionning" />
    </div>
    <div class="more-box">
        <img src="/assets/more/EvoluezEtProgressez.png" alt="Evoluez et progressez" class="more-box-title" />
        <p>Débloquez des compétences, améliorez votre matériel, et gagnez en réputation pour gravir les échelons de la
            réussite dans le monde de la construction.

            Plaquist Simulator offre une expérience immersive où chaque détails à son importance. Préparez-vous à
            construire, à apprendre, et à dominer le monde de la construction comme jamais auparavant. Prêt à bâtir
            votre avenir ? Plaquist Simulator vous attend!</p>
    </div>
</div>

<div class="join">
    <h2>Rejoins-nous !</h2>
    <a href="https://store.steampowered.com/app/2705760/Plaquist_Simulator/"><img src="/assets/img/steam_add.png" alt="Ajoutez a la wishlist steam" /></a>
</div>