@if (this.displayBandeau) {
    <div class="bandeau" (click)="this.closeBandeau()">
        <div class="warning">
            <img src="/assets/icon-site/warning.svg" />
        </div>
        <div class="bandeau-text">
            Ce site n’est pas affilié à Plaquist Simulator. Les logos, marques et images de Plaquist Simulator sont la propriété de Plaquist Simulator.
        </div>
        <div class="bandeau-close">
            <img src="/assets/icon-site/croix.svg" />
        </div>
    </div>
}